@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    ViewData["CssFilePath"] = Url.Content("~/Register.cshtml.css");
}

<div class="form-wrapper rounded shadow border">
    <div class="text-center my-3">
        <img src="~/images/logo.svg" alt="logo" width="250" height="100" class="h-auto">
    </div>

    <section>
        <form id="register-form" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="d-grid gap-3 mt-4">
                <div class="text-center">
                    <span class="fw-bold mb-0 text-muted">Sign up to continue</span>
                </div>

                <div class="alert alert-danger mb-0 pb-0" role="alert" asp-validation-summary="ModelOnly">
                </div>
                <div class="form-outline">
                    <label class="form-label" asp-for="Input.Email">Email address</label>
                    <input type="email" class="form-control py-2" aria-required="true" placeholder="Enter your email"
                        asp-for="Input.Email" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="form-outline">
                    <label class="form-label" asp-for="Input.Password">Password</label>
                    <input class="form-control py-2" placeholder="Enter your password" type="password"
                        asp-for="Input.Password" autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="form-outline">
                    <label class="form-label" asp-for="Input.ConfirmPassword">Confirm Password</label>
                    <input class="form-control py-2" placeholder="Confirm your password" type="password"
                        asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary btn-block">
                    Register
                </button>
            </div>
        </form>

        @* <div class="d-grid gap-3 mt-4">
            <div class="text-center">
                <span class="fw-bold mb-0 text-muted">Or continue with:</span>
            </div>

            <a class="btn btn-outline-secondary btn-block py-2" href="#!" role="button">
                <span class="fw-bold text-dark">
                    <i class="bi bi-google"></i> Continue with Google
                </span>
            </a>
            <a class="btn btn-outline-secondary btn-block py-2" href="#!" role="button">
                <span class="fw-bold text-dark">
                    <i class="bi bi-facebook"></i> Continue with Facebook
                </span>
            </a>
            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post"
                class="form-horizontal">
                <div>
                    <p>
                        @foreach (var provider in Model.ExternalLogins!)
                        {
                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name"
                                title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                        }
                    </p>
                </div>
            </form>

        </div> *@

        <div class="mt-4">
            <div class="d-flex justify-content-center align-items-center">
                <span>
                    <a id="login" asp-page="./Login">
                        Already have an account? Log in
                    </a>
                </span>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
